In [1]:
# Import necessary libraries
import os
import sys

# Add the scripts folder to the Python path
sys.path.append(os.path.abspath("../scripts"))
import pandas as pd
from load_data import fetch_data
from data_aggregation import aggregate_user_data
from top_10_values_analysis import top_10_values,bottom_10_values

In [2]:

# SQL query to fetch data
query = "SELECT * FROM xdr_data ;"  

# Load the data
df = fetch_data(query)

d:\Kifya_training\Week 2\Telecom-User-Analysis-and-Dashboard-Development\scripts\load_data.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [3]:
#Apply aggregation (as already defined in data_aggregation)
aggregated_data = aggregate_user_data(df)
# Inspect aggregated data
aggregated_data.head()

,MSISDN/Number,average_rtt_dl,average_rtt_ul,average_bearer_tp_dl,average_bearer_tp_ul,average_tcp_dl_retrans,average_tcp_ul_retrans,handset_type
0,3.360100e+10,46.000000,0.000000,37.0,39.0,1.685339e+07,624008.18488,Huawei P20 Lite Huawei Nova 3E
1,3.360100e+10,30.000000,1.000000,48.0,51.0,1.685339e+07,624008.18488,Apple iPhone 7 (A1778)
2,3.360100e+10,119.182869,16.771129,48.0,49.0,1.685339e+07,624008.18488,Unknown
3,3.360101e+10,69.000000,15.000000,204.0,44.0,1.066000e+03,624008.18488,Apple iPhone 5S (A1457)
4,3.360101e+10,57.000000,2.500000,20197.5,8224.5,9.349630e+06,21202.00000,Apple iPhone Se (A1723)

In [4]:
# Fill missing values without using inplace=True
df['TCP DL Retrans. Vol (Bytes)'] = df['TCP DL Retrans. Vol (Bytes)'].fillna(df['TCP DL Retrans. Vol (Bytes)'].mean())
df['TCP UL Retrans. Vol (Bytes)'] = df['TCP UL Retrans. Vol (Bytes)'].fillna(df['TCP UL Retrans. Vol (Bytes)'].mean())
df['Avg RTT DL (ms)'] = df['Avg RTT DL (ms)'].fillna(df['Avg RTT DL (ms)'].mean())
df['Avg RTT UL (ms)'] = df['Avg RTT UL (ms)'].fillna(df['Avg RTT UL (ms)'].mean())
df['Avg Bearer TP DL (kbps)'] = df['Avg Bearer TP DL (kbps)'].fillna(df['Avg Bearer TP DL (kbps)'].mean())
df['Avg Bearer TP UL (kbps)'] = df['Avg Bearer TP UL (kbps)'].fillna(df['Avg Bearer TP UL (kbps)'].mean())

# Replacing missing values in 'Handset Type' with the mode (most frequent value)
df['Handset Type'] = df['Handset Type'].fillna(df['Handset Type'].mode()[0])

# Check the DataFrame after handling missing values
print(df.head())

      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

In [5]:
# Adjust pandas display settings to avoid scientific notation
pd.set_option('display.float_format', '{:.2f}'.format)

# Now call the top_10_values function
top_10_values(df, 'TCP DL Retrans. Vol (Bytes)')

77979    4294425570.00
135678   4291380336.00
34645    4289876615.00
140813   4289487601.00
3782     4288060364.00
119684   4275259349.00
39637    4268431996.00
76990    4259996826.00
59016    4256650017.00
41209    4254643827.00
Name: TCP DL Retrans. Vol (Bytes), dtype: float64

In [6]:


# Specify the column name 
bottom_10_values(df, 'TCP DL Retrans. Vol (Bytes)')

59717    2.00
125094   2.00
2850     4.00
39610    4.00
52488    4.00
60376    4.00
60426    4.00
75093    4.00
100314   4.00
143429   4.00
Name: TCP DL Retrans. Vol (Bytes), dtype: float64